@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

@layer base {
  body h1 {
    font-family: "Caveat", sans-serif;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* category filter for larger screens */
@media screen and (max-width: 640px) {
  .select-category {
    font-size: 0.675rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .select-category {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 768px) {
  .select-category {
    font-size: 1.075rem;
  }
}

/* category filter for smaller screens */

@media screen and (max-width: 640px) {
  .select-category-small {
    font-size: 0.875rem;
  }
}

.swiper-nav-btns button {
  width: 60px;
  height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: hsl(210, 100%, 50%);
  color: #fff;
  margin: 0px 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  transition: all 0.5s;
}

.swiper-nav-btns button:hover {
  background-color: hsl(210, 100%, 40%);
  cursor: pointer;
}
